.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 3%;
    margin-top: 5%;
    font-weight: bold;
    font-size: large;
    text-align: center;
    color: white;
}

.mainBox {
    margin-bottom: 5%; 
    display: flex;
    justify-content: center;
    width: 100%;
}

.mainImage {
    width: 800px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.imageSelector {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap; 
}

.thumbnailContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.thumbnail {
    cursor: pointer;
    width: 100px; 
    height: 60px; 
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.buttonsSection {
    text-align: center;
    margin: 5%;
}

.buyButton,
.cartButton {
    border-radius: 5px;
    transition: transform 0.3s ease;
    border-width: 3px;
    padding: 15px 30px;
    margin: 0 2%;
    color: white;
}

.buyButton:hover,
.cartButton:hover {
    transform: scale(1.05);
}

.priceCard {
    background-color: blue;
    border: none;
    color: white;
}

.desc {
    text-align: justify;
    padding: 5%;
    margin: 5%;
    color: white;
}

.desctitle {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
