.catalogTitle {
    margin: 5% 0;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.catalogContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 200px; /* Espaço suficiente para não sobrepor o footer */
}

.catalogGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 jogos por linha */
    gap: 2%; /* Espaçamento entre os cartões */
    max-width: 1200px; /* Largura máxima para manter o layout organizado */
    margin: auto;
    box-sizing: border-box;
}

.card {
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Garante que o cartão ocupe 100% da largura da coluna */
    max-width: 200px; /* Limita a largura máxima do cartão */
    margin: 0 auto; /* Centraliza o cartão dentro da coluna */
}

.card:hover {
    transform: scale(1.05);
}

.cardImage {
    width: 100%; /* A imagem ocupa 100% da largura do cartão */
    height: 200px; /* Altura fixa das imagens */
    object-fit: cover; /* Garante que a imagem cubra o cartão sem distorcer */
    border-radius: 5px;
}

.cardTitle {
    margin-top: 10px; /* Espaçamento acima do título */
    font-weight: bold;
    font-size: medium;
    color: #8c8c8c;
}

.cardPrice {
    margin-top: 5px; /* Espaçamento acima do preço */
    font-size: medium;
    color: #888;
}
