.footer {
    display: flex;
    background-color: #18181C;
    height: 40vh; 
    border-top: 3px solid #111;
    color: #fff;
    position: relative; 
    bottom: 0; 
    width: 100%; 
    margin-top: 10vh; 
}

.footer span {
    font-weight: bold;
}

.list {
    text-align: left;
    margin: 2% 0 0 2%; 
    font-size: small; 
}

.list a {
    color: #8c8c8c; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.list a:hover {
    color: #ffffff; 
}
