.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  
  .libraryTitle {
    margin-bottom: 5%;
    font-size: large;
  }
  
  .listGroup {
    text-align: center;
  }
  
  .libraryItem {
    padding: 2%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 3%;
    width: 100%;
  }
  
  .gameInfo {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .gameImage {
    width: 20%;
    height: auto;
    object-fit: cover;
    margin-right: 5%;
  }
  
  .gameTitle {
    flex: 1;
    color: #ffff;
  }
  