.searchContainer {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #121212;
}
  
  .searchBar {
    margin-left: 10%;
    max-width: 600px; 
    padding: 10px; 
  }
  
  .searchInput {
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    background-color: #202020;
    color: white;
    font-size: small;
  }

 .gratuitos {
    font-size: small;
    color: #8c8c8c;
    text-decoration: none; 
    transition: color 0.3s ease; 
    margin-left: 3%; 
 }

 .gratuitos:hover {
  color: #ffffff; 
}

.cart {
  font-size: small;
  color: #8c8c8c;
  text-decoration: none; 
  transition: color 0.3s ease; 
  margin-left: 3%; 
}

.cart:hover {
color: #ffffff; 
}

.wishlist {
  font-size: small;
  color: #8c8c8c;
  text-decoration: none; 
  transition: color 0.3s ease; 
  margin-left: 3%; 
}

.wishlist:hover {
color: #ffffff; 
}